<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="news-feed">
        News Feed
      </ion-segment-button>
      <ion-segment-button value="saved">
        Saved
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios">Discovery</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment>
      <ion-segment-button value="news-feed">
        News Feed
      </ion-segment-button>
      <ion-segment-button value="saved">
        Saved
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discover</ion-title>
    </ion-toolbar>
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="segment == 'saved'">
    <ion-card>
      <iframe width="auto" height="200" src="https://www.youtube.com/embed/xVlRompc1yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-header>
        <ion-card-subtitle>11 hrs ago | posted by <span><a  [routerLink]="['/app/tabs/discover/profile']" [queryParams]="{from: 'newsfeed'}" >Greta Thurnberg</a></span></ion-card-subtitle>
        <ion-card-title>How dare you!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="clear">
              <ion-icon name="share-social-outline"></ion-icon>
              <div> SHARE</div>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button  fill="clear">
              <ion-icon name="trash-outline"></ion-icon>
              <div> DELETE</div>
            </ion-button>
          </ion-col>
        </ion-row>
        Well Greta Thunberg is again telling us we need to save the planet.
        She's really mad.
      </ion-card-content>
      <ion-footer>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button (click)="onLikePost()" fill="clear">
              <ion-icon  name="thumbs-up"></ion-icon>
              <div> {{postLikes}}k Likes</div>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button [routerLink]="['/app/tabs/discover/comments']" [queryParams]="{from: 'newsfeed'}" fill="clear">
              <ion-icon name="chatbox-outline"></ion-icon>
              <div>120</div>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-footer>
    </ion-card>
  </div>
  <div *ngIf="segment == 'news-feed'">
    <ion-card>
      <iframe width="auto" height="200" src="https://www.youtube.com/embed/xVlRompc1yE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ion-card-header>
        <ion-card-subtitle>11 hrs ago | posted by <span><a  [routerLink]="['/app/tabs/discover/profile']" [queryParams]="{from: 'newsfeed'}" >Greta Thurnberg</a></span></ion-card-subtitle>
        <ion-card-title>How dare you!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button fill="clear">
              <ion-icon name="share-social-outline"></ion-icon>
              <div> SHARE</div>
            </ion-button>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-button (click)="onSavePost()" fill="clear">
              <ion-icon name="bookmark-outline"></ion-icon>
              <div> SAVE</div>
            </ion-button>
          </ion-col>
        </ion-row>
        Well Greta Thunberg is again telling us we need to save the planet.
        She's really mad.
      </ion-card-content>
      <ion-footer>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="onLikePost()" fill="clear">
            <ion-icon  name="thumbs-up"></ion-icon>
            <div> {{postLikes}}k Likes</div>
          </ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button [routerLink]="['/app/tabs/discover/comments']" [queryParams]="{from: 'newsfeed'}" fill="clear">
            <ion-icon name="chatbox-outline"></ion-icon>
            <div>120</div>
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-footer>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="onPostVideo()" color="success">
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onPostPhoto()" color="secondary">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="onPostArticle()" color="primary">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
